package-lock.json linguist-generated=true
schema/*/schema.json linguist-generated=true
docs/specification/*/schema.md linguist-generated=true
docs/specification/*/schema.mdx linguist-generated=true
docs/seps/index.mdx linguist-generated=true
docs/seps/[0-9]*.mdx linguist-generated=true
